[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "doBy"]
	path = doBy
	url = https://github.com/hojsgaard/doby
[submodule "gRain"]
	path = gRain
	url = https://github.com/hojsgaard/grain
[submodule "gRbase"]
	path = gRbase
	url = https://github.com/hojsgaard/grbase
[submodule "gRc"]
	path = gRc
	url = https://github.com/hojsgaard/grc
[submodule "gRim"]
	path = gRim
	url = https://github.com/hojsgaard/grim
[submodule "geeasy"]
	path = geeasy
	url = https://github.com/cran/geeasy
[submodule "geepack"]
	path = geepack
	url = https://github.com/hojsgaard/geepack
[submodule "pbkrtest"]
	path = pbkrtest
	url = https://github.com/cran/pbkrtest
